#title
{
  background-color: #ff6c68;
  color:#fff;

}
h1
{
  font-family: 'Montserrat', sans-serif;
   size:3rem;
   line-height: 1.5;
   font-weight: bolder;
}
 h2
{
  font-family: 'Montserrat-Bold', sans-serif;
   line-height: 1.5;
   font-weight: 700;
  font-size: 3rem;

}

h3
{
  font-family: "Montserrat";
  font-weight: bold;
}
p
{
  color:#8f8f8f;
}
.container-fluid
{
  padding:3% 16%  15%;


}
/* navigation-bar */
.navbar
{
  padding-bottom:4.5rem;
}
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navitem{
  padding:10px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat";
}
@media(max-width:800px)  {
  .tittle-img
  {
    position:static;

    transform: rotate(0deg);

  }

}
.tittle-img
{

  transform: rotate(27deg);
  position:absolute;
}

#features{
  padding:7% 25%;
  background-color:#fff;
 position:relative;

}
.features-box
{
  text-align: center;
  padding:5%;
}
.fas{
  color:#ff6c68;
}
/* testimonials */
#testimonials
{

  text-align: center;
  background-color:#ef8172;
  color:#ffff;
}
.carosel-Item{
  padding:7% 15%;
}
.testmonials-img
{
  width:10%;
  border-radius:100%;
  margin:20px;
}
#press
{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 3%;
}
 .press-logo-img
{
  width: 15%;
  margin:20px 20px 15px;
}
.price-column
{
  padding:3% 2%;
}
#pricing{

  padding:5% 15%;
font-family: "Montserrat";
text-align: center;
}
#cta
{
  background-color: #ff4c68;
  color:#ffff;
  text-align: center;
  font-family: Montserrat;
  padding: 7% 25%;
  line-height: 1.5;

}
.cta-btn{
  margin-top: 5%;
  }
  #footer
  {
    text-align: center;
    padding:2%;
    color:#fff;
  }
  .footer-icon
  {
    color:black;
    padding:6px;
  }
